html {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 17px;
    height: 17px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #ededed;
}

button {
    font-size: 16px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}

h1 {
    font-size: 70px;
    font-weight: 600;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.content {
    display: flex;
    gap: calc((100vw / 2) - 804px);
    flex-basis: 450px;
    align-items: center;
}

.blank {
    width: 275px;
}

.menu {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 8px grey;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    background-color: white;
    transition: all 0.5s;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    box-shadow: 0px 0px 3px grey;
    border-radius: 50%;
}

#color-picker::-moz-color-swatch {
    box-shadow: 0px 0px 3px grey;
    border-radius: 50%;
}

.slide-val-display {
    font-size: 24px;
}